extends layout

block content
  div#header
  div#info
  a(href='/goodbye') exit
  div#footer

  script(type='text/javascript', src='../build/header.js')
  script(type='text/javascript', src='../build/info.js')
  script(type='text/javascript', src='../build/footer.js')
